@import "../css/reset.css";
@import "../css/root.less";
body {
    background-color: #f6f6f6;
    width: 1200px;
    margin: 0 auto;
    min-width: 1200px; 
    // position: relative;
}

.layui-tab-brief>.layui-tab-title .layui-this {
    color: #68b6e7;
    font-weight: bold;
}

.layui-tab-brief>.layui-tab-more li.layui-this:after,
.layui-tab-brief>.layui-tab-title .layui-this:after {
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #68b6e7;
}

.layui-tab-title .layui-this:after {
    position: absolute;
    left: 0;
    top: 25px;
    content: '';
    width: 100%;
    height: 41px;
    border-width: 1px;
    border-style: solid;
    border-bottom-color: #fff;
    border-radius: 2px 2px 0 0;
    box-sizing: border-box;
    pointer-events: none;
}

.layui-form-radio>i:hover,
.layui-form-radioed>i {
    color: #68b7e7;
    font-size: 17px;
}

.layui-form-radio>i {
    margin-right: 8px;
    font-size: 17px;
}

.layui-form-checkbox span {
    background-color: #d2d2d2;
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; // .padding(0, 10, 0, 10);
    // .font-size(32);
    // font-size: 14px;
}
.w78{
    width: 78px;
}
.w80{
    width: 80px;
}
.w84{
    width: 84px;
}
.w86{
    width: 86px;
}
.w112{
    width: 112px;
}
.w122{
    width: 122px;
}
.w124{
    width: 124px;
}
.w150{
    width: 150px;
}
.mgl10 {
    margin-left: 10px;
}
.mgl16 {
    margin-left: 16px;
}
.mgl24 {
    margin-left: 24px;
}
.mgl28{
    margin-left: 28px;
}
.mgl174{
    margin-left: 174px;
}
.mgr0 {
    margin-right: 0px !important;
    display: inline-block;
}
.mgr30 {
    margin-right:30px !important;
}
.mgr34 {
    margin-right:34px !important;
}
.mgr38 {
    margin-right:44px !important;
}
.mgr76 {
    margin-right: 76px;
    display: inline-block;
}
.mgr77 {
    margin-right: 78px;
}
.mgb0 {
    margin-bottom: 0px !important;
}
.mgt140 {
    margin-top: 140px !important;
}
.mgb12 {
    margin-bottom: 12px;
}
.mgb20 {
    margin-bottom: 20px;
}

.fl{
    float: left;
}
.fr{
    float: right;
}
header {
    .headerBox {
        width: 100%;
        height: 84px;
        line-height: 84px;
        position: relative;
        background-color: #fff;
    }
    .character {
        color: #333333;
        font-size: 18px;
        margin-left: 220px;
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    .clearfix:after {
        content: ".";
        width: 0;
        height: 0;
        visibility: hidden;
        display: block;
        clear: both;
        overflow: hidden;
        zoom: 1;
    }
    .headerrightBox {
        float: right;
        margin-right: 20px;
    }
    .welcome {
        display: inline-block;
        width: 124px;
        border-right: 2px solid #888888;
        height: 16px;
        color: 333333;
        font-size: 16px;
        line-height: 16px;
        margin-right: 30px;
    }
    .doctorName {
        font-style: normal;
        color: 333333;
        font-size: 16px;
    }
    .exitBtn {
        position: relative;
        display: inline-block;
    }
    .exitBtn:hover {
        cursor: pointer;
    }
    .exitIcon {
        position: absolute;
        background: url('/maternal-web/images/exit.png') no-repeat 0 0;
        top: 35px;
        left: -22px;
        width: 14px;
        height: 14px;
        background-size: 14px 14px;
    }
}

main {
    position: relative;
    // 左块
    .leftBox {
        position: absolute;
        width: 190px;
        height: 630px;
        background-color: #fff;
        .headline1,
        .headline2,
        .headline3,
        .headline4 {
            width: 190px;
            height: 52px;
            line-height: 52px;
            font-size: 16px;
            color: #333333;
            position: relative;
            vertical-align: middle;
            padding-left: 14px;
            .leftIcon {
                width: 20px;
                height: 17px;
                margin-right: 16px;
            }
            .layui-icon {
                color: #ababab;
            }
            // &:after {
            //     content: ' ';
            //     position: absolute;
            //     top: 44%;
            //     right: 53px;
            //     width: 0;
            //     height: 0;
            //     border: 6px solid transparent;
            //     border-top: 6px solid #ababab;
            // }
        }
        .headline:hover {
            cursor: pointer;
        }
        .active {
            background-color: #f0f8fd;
        }
    } // 右块
    .rightBox {
        width: 100%;
        padding: 16px 0px 16px 206px; //右侧上面块
        .layui-tab-title {
            background-color: #fff;
            height: 66px;
            li {
                height: 66px;
                line-height: 66px;
                font-size: 14px;
                color: #333333;
            }
        }
        .layui-tab-content {
            position: relative;
            background-color: #fff;
            padding: 14px 24px 24px 28px;
            margin-top: 15px;
            .pregnantNewsBox {
                // 孕妇基本信息块
                div {
                    margin-right: 76px;
                    display: inline-block;
                    h3 {
                        font-size: 14px;
                        color: #666666;
                        margin: 10px 0;
                    }
                    input {
                        width: 260px;
                        height: 40px;
                        border: 1px solid #ccc;
                        border-radius: 8px; // margin: 10px 0px;
                        padding-left: 16px;
                    }
                    p {
                        color: #fd4242;
                        display: none;
                    }
                    .layui-unselect,
                    .layui-form-select {
                        width: 260px;
                        height: 40px; // margin: 10px 0px;
                        input {
                            background-color: #f6f6f6;
                        }
                    }
                }
                div:nth-child(3n) {
                    margin-right: 0px;
                }
                .wire {
                    width: 100%;
                    height: 1px;
                    border-bottom: 1px dashed #ccc;
                    margin-top: 24px;
                } // 绑定卡号
                .bindingBox {
                    position: relative;
                    .bindingBtn {
                        position: absolute;
                        top: 38px;
                        right: -76px;
                        width: 72px;
                        height: 40px;
                        background-color: #68b6e7;
                        color: #fff;
                        font-size: 14px;
                        line-height: 40px;
                        text-align: center;
                        border-radius: 8px;
                    }
                } // 出生年月
                .birthBox {
                    position: relative;
                    .birth {
                        position: absolute;
                        top: 50px;
                        right: 10px;
                        display: inline;
                        color: #666666;
                        .birth_age {
                            position: relative;
                            margin-right: 10px;
                        }
                        .birth_sex {
                            margin-right: 8px;
                            &:before {
                                content: ' ';
                                position: absolute;
                                top: -10px;
                                right: 36px;
                                width: 1px;
                                height: 40px;
                                background: #cccccc;
                            }
                        }
                    }
                }
            }
            .spouseNewsBox {
                // 配偶一般信息模块
                div {
                    display: inline-block; 
                    h3 {
                        font-size: 14px;
                        color: #666666;
                        margin: 10px 0;
                    }
                    input {
                        width: 260px;
                        height: 40px;
                        border: 1px solid #ccc;
                        border-radius: 8px; 
                        padding-left: 16px;
                    }
                    .redFont {
                        color: #fd4242;
                        display: none;
                    }
                    .layui-unselect,
                    .layui-form-select {
                        input {
                            background-color: #f6f6f6;
                        }
                    }
                } 
                .wire {
                    width: 100%;
                    height: 1px;
                    border-bottom: 1px dashed #ccc;
                    margin-top: 24px;
                } // 绑定卡号
                .bindingBox {
                    position: relative;
                    .bindingBtn {
                        position: absolute;
                        top: 38px;
                        right: -76px;
                        width: 72px;
                        height: 40px;
                        background-color: #68b6e7;
                        color: #fff;
                        font-size: 14px;
                        line-height: 40px;
                        text-align: center;
                        border-radius: 8px;
                    }
                } // 出生年月
                .birthBox {
                    position: relative;
                    .birth {
                        position: absolute;
                        top: 50px;
                        right: 10px;
                        display: inline;
                        color: #666666;
                        .birth_age {
                            position: relative;
                            margin-right: 10px;
                        }
                        .birth_sex {
                            margin-right: 8px;
                            &:before {
                                content: ' ';
                                position: absolute;
                                top: -10px;
                                right: 36px;
                                width: 1px;
                                height: 40px;
                                background: #cccccc;
                            }
                        }
                    }
                } //吸烟等三个模块
                .somkingBox {
                    margin-top: 24px;
                    margin-right: 76px;
                    width: 260px;
                    height: 52px;
                    line-height: 52px;
                    .box-shadow();
                    .somkingFont {
                        width: 75px;
                        height: 52px;
                        background-color: #f6f6f6;
                        text-align: center;
                        line-height: 52px;
                        float: left;
                    }
                    .somkingSelect {
                        padding-left: 26px;
                        width: 185px;
                        float: left;
                        .smkingYes {
                            width: 50%;
                            float: left;
                            position: relative;
                            &:before {
                                content: ' ';
                                position: absolute;
                                top: 15px;
                                right: 18px;
                                width: 1px;
                                height: 20px;
                                background: #cccccc;
                            }
                        }
                        .smokingNo {
                            float: left;
                            width: 50%;
                        }
                        .layui-form-radio {
                            line-height: 52px;
                            margin: 0px;
                            font-size: 0;
                        }
                    }
                } // 吸烟显示隐藏等三个模块
                .somkingCirculationBox,
                .drinkCirculationBox,
                .history1CirculationBox {
                    float: left;
                    margin-top: 24px;
                    margin-right: 80px;
                    width: 260px;
                    // height: 86px;
                    .box-shadow();
                    position: relative;
                      p{
                        font-size: 12px;
                        color: #666666;
                        margin-bottom: 12px;
                        }
                }
                // 配偶吸烟显示隐藏快
                .somkingCirculationBox {
                    // text-align: center;
                    padding: 14px 18px 14px 18px;
                    input {
                        width: 224px;
                        height: 32px;
                    }
                    .birth {
                        position: absolute;
                        top: 50px;
                        right: 20px;
                        display: inline;
                        color: #666666;
                        .bar_day {
                            margin-right: 8px;
                            &:before {
                                content: ' ';
                                position: absolute;
                                top: -7px;
                                right: 52px;
                                width: 1px;
                                height: 30px;
                                background: #cccccc;
                            }
                        }
                    }
                }
                // 配偶饮酒显示隐藏块
                .drinkCirculationBox {
                    padding: 13px 20px 13px 20px;
                     
                    .drinkOccasionally,.drinkOften{
                        width: 80px;
                        height: 32px;
                        font-size: 14px;
                        text-align: center;
                        line-height: 32px;
                        border:1px solid #ccc;
                        display: inline-block;
                        border-radius: 8px;
                    }
                    .drinkOccasionally{
                        margin-right:50px;
                    }
                    .active{
                        background-color: #68b6e7;
                        color:#fff;
                        border:none;
                    }
                }
                // 配偶显示隐藏家族史块
                .history1CirculationBox{
                     padding: 10px 14px 5px 14px;
                     position: relative;
                     input{
                         width: 226px;
                         height: 32px;
                     }
                     P{
                         margin-top:12px;
                     }
                      .seekIcon {
                            background: url('/maternal-web/images/seek.png') no-repeat 0 0;
                            width: 14px;
                            height: 14px;
                            background-size: 14px 14px;
                            position: absolute;
                            top: 20px;
                            right: 30px;
                        }
                    .hideBox{
                       li{
                           float: left;
                           width: 65px;
                           height: 30px;
                           background-color: #68b6e7;
                           color: #fff;
                           text-align: center;
                           line-height: 30px;
                           border-radius: 8px;
                           margin-right:12px;
                           margin-bottom:8px;
                       } 
                    }
                    .familyHistorySelect{
                        // display: none;
                          width: 226px;
                         height: 200px;
                         position: relative;
                        overflow: hidden;
                           ul {
                         position: absolute;
                            left: 0;
                            top: 0;
                            right: -17px;
                            bottom: 0;
                            overflow-x: hidden;
                            overflow-y: scroll;
                        li {
                            font-size: 14px;
                            margin: 0;
                            padding:10px;
                            border-bottom: 1px;
                            border-bottom-style: solid;
                            border-bottom-color: #999;
                            
                        }
                        li:hover{
                            background-color: #d4e8f5;
                        }
                    }
                    }
                  
                }
                // 配偶现住地址块
                  .spouseSiteBox{
                        p{
                            margin-top:24px;
                            font-size: 14px;
                            color:#666666;
                            margin-bottom:16px;
                        }
                    }
            }
            // 孕产信息模块
             .pregnancyNewsBox {
               div {
                    display: inline-block; 
                    h3 {
                        font-size: 14px;
                        color: #666666;
                        margin: 10px 0;
                    }
                    input {
                        width: 260px;
                        height: 40px;
                        border: 1px solid #ccc;
                        border-radius: 8px; 
                        padding-left: 16px;
                    }
                    .redFont {
                        color: #fd4242;
                        display: none;
                    }
                    .layui-unselect,
                    .layui-form-select {
                        input {
                            background-color: #f6f6f6;
                        }
                    }
                } 
                .wire {
                    width: 100%;
                    height: 1px;
                    border-bottom: 1px dashed #ccc;
                    margin-top: 24px;
                } 
                
                .gestationalWeeksBox{
                    margin-right: 0;
                       width: 260px;
                        height: 40px;
                        border: 1px solid #ccc;
                        border-radius: 8px; 
                      
                        div{
                            display: inline-block;
                           width: 125px;
                    //    float: left;
                             text-align: center;
                        line-height: 40px;
                        margin-right:0px !important;
                        }
                        .newAgeOfMenarche{
                            border-right: 1px solid #ccc;
                        }
                }
                 .layui-table {
                     margin:0px;
                               
                                th {
                                    height: 46px;
                                    font-size: 14px;
                                    color: #333333;
                                    text-align: center;
                                    background-color: #f6f6f6;
                                }
                                tr {
                                    text-align: center;
                                     font-size: 14px;
                                    color: #666;
                                }
                                tr:nth-child(2n) {
                                    input {
                                        background-color: #f6f6f6 !important;
                                    }
                                }
                                td {
                                   height: 46px;
                                     a{
                                            color: #68b6e7;
                                        }
                                }
                            }
                            .layui-table tbody tr:nth-child(2n-1):hover {
                                background: none !important;
                            }
                            .layui-table[lay-even] tr:nth-child(even) {
                       background-color: #f9f9f9;
                }
                  .somkingBox {
                    margin-top: 24px;
                    margin-right: 76px;
                    width: 260px;
                    height: 52px;
                    line-height: 52px;
                    .box-shadow();
                    .somkingFont {
                        width: 75px;
                        height: 52px;
                        background-color: #f6f6f6;
                        text-align: center;
                        line-height: 52px;
                        float: left;
                    }
                    .somkingSelect {
                        padding-left: 26px;
                        width: 185px;
                        float: left;
                        .smkingYes {
                            width: 50%;
                            float: left;
                            position: relative;
                            &:before {
                                content: ' ';
                                position: absolute;
                                top: 15px;
                                right: 18px;
                                width: 1px;
                                height: 20px;
                                background: #cccccc;
                            }
                        }
                        .smokingNo {
                            float: left;
                            width: 50%;
                        }
                        .layui-form-radio {
                            line-height: 52px;
                            margin: 0px;
                            font-size: 0;
                        }
                    }
                } 
                // 孕产信息隐藏快
                .contactPoisonBox,
                .virusInfectionBox,
                .familyHistoryBox {
                    float: left;
                    margin-top: 24px;
                    margin-right: 80px;
                    width: 260px;
                    .box-shadow();
                    position: relative;
                    padding:14px 16px;
                      p{
                        font-size: 12px;
                        color: #666666;
                        margin-bottom: 12px;
                        }
                }
                .contactPoisonBox{
                     input {
                        width: 224px;
                        height: 32px;
                    }
                }
                .virusInfectionBox{
                    ul{
                        li{
                           float: left; 
                           width: 64px;
                           height: 30px;
                           line-height: 30px;
                           background-color: #ededed;
                           text-align: center;
                           font-size: 12px;
                           color:#999999;
                           margin-right:12px;
                           margin-bottom: 10px;
                        }
                    }
                }
                  .familyHistoryBox{
                     padding: 10px 14px 5px 14px;
                     position: relative;
                     input{
                         width: 226px;
                         height: 32px;
                     }
                     P{
                         margin-top:12px;
                     }
                      .seekIcon {
                            background: url('/maternal-web/images/seek.png') no-repeat 0 0;
                            width: 14px;
                            height: 14px;
                            background-size: 14px 14px;
                            position: absolute;
                            top: 20px;
                            right: 30px;
                        }
                    .hideBox{
                       li{
                           float: left;
                           width: 65px;
                           height: 30px;
                           background-color: #68b6e7;
                           color: #fff;
                           text-align: center;
                           line-height: 30px;
                           border-radius: 8px;
                           margin-right:12px;
                           margin-bottom:8px;
                       } 
                    }
                    .familyHistorySelect{
                        // display: none;
                          width: 226px;
                         height: 200px;
                         position: relative;
                        overflow: hidden;
                           ul {
                         position: absolute;
                            left: 0;
                            top: 0;
                            right: -17px;
                            bottom: 0;
                            overflow-x: hidden;
                            overflow-y: scroll;
                        li {
                            font-size: 14px;
                            margin: 0;
                            padding:10px;
                            border-bottom: 1px;
                            border-bottom-style: solid;
                            border-bottom-color: #999;
                            
                        }
                        li:hover{
                            background-color: #d4e8f5;
                        }
                    }
                    }
                  
                  
                }

                // 修改怀孕次数弹框
                .modificationLayer{
                    position: fixed;
                    top:50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    width: 590px;
                    background-color: #fff;
                    display: none;
                    .modificationLayerNav{
                        height: 50px;
                        width: 100%;
                        background-color: #ededed;
                        padding-top:16px;
                        padding-left: 24px;
                        .parity{
                            font-size: 16px;
                            color:#333333;

                        }
                    }
                    .modificationLayerMain{
                        padding:20px 24px;
                        input{
                            width: 156px;
                        }
                        .layerRemark{
                            height: 108px;
                            width: 100%;
                            border:1px solid #ccc;
                            border-radius: 8px;
                            padding-left: 30px;
                        }
                        .cancelBtn,.saveBtn{
                            width: 160px;
                            height: 40px;
                            font-size: 14px;
                            line-height: 40px;
                            text-align: center;
                             margin-top:30px;
                            padding:0px !important;
                        }
                        .cancelBtn{
                            float: left;
                            background-color: #cccccc;
                            color:#666666;
                           
                        }
                        .saveBtn{
                            float: right;
                             background-color: #68b6e7;
                            color:#fff;
                        }
                    }
                }
            }
             // 体格检查模块
             .healthCheckupBox {
                 .healthCheckTittle{
                     font-size: 16px;
                     color:#333333;
                 }
               div {
                    display: inline-block; 
                    float: left;
                    h3 {
                        font-size: 14px;
                        color: #666666;
                        margin: 10px 0;
                    }
                    input {
                        width: 260px;
                        height: 40px;
                        border: 1px solid #ccc;
                        border-radius: 8px; 
                        padding-left: 16px;
                    }
                    .redFont {
                        color: #fd4242;
                        display: none;
                    }
                    .layui-unselect,
                    .layui-form-select {
                        input {
                            background-color: #f6f6f6;
                        }
                    }
                } 
                .wire {
                    width: 100%;
                    height: 1px;
                    border-bottom: 1px dashed #ccc;
                    margin-top: 24px;
                } 
                .bloodBox{
                      width: 260px;
                        height: 40px;
                        line-height: 40px;
                        border: 1px solid #ccc;
                        border-radius: 8px; 
                        input{
                            width: 50%;
                            float: left;
                            height: 38px;
                            border-radius: 8px;
                            padding-left: 16px;
                            border:none;
                        }
                        .lowTension{
                            display: block;
                            position: relative;
                            border-radius: 8px 0 0px 8px;
                            border-right: 1px solid #ccc;
                        }
                }
                .healthCheckupBox_firstBox{
                    input{
                        width: 108px;
                    }
                }
                .modelBox{
                     .diagnoseTittle{
                    font-size: 16px;
                    color:#333333;
                    position: relative;
                      &:after {
                            content: ' ';
                            position: absolute;
                            top: 24%;
                            right: -14px;
                            width: 1px;
                            height:12px;
                            background-color: #ccc;
                           
                        }

                }
                
                   
                }
                   .primaryDiagnosisBtn,.disposalBtn{
                        // margin-left: 48px;
                        position: relative;
                        .fileIcon{
                    background: url('/maternal-web/images/file.png') no-repeat 0 0;
                    width: 12px;
                    height: 14px;
                    background-size: 12px 14px;
                    position: absolute;
                    bottom:3px;
                    left: 24px;
                }
                 .templateTittle{
                        margin-left: 48px;
                        font-size: 14px;
                        color:#999999;
                    }
                    }
                    .primaryDiagnosisBtn:hover,.disposalBtn{
                        cursor: pointer;
                    }
                   
               .primaryDiagnosis,.disposal{
                   width: 100%;
                   padding-left: 16px;
                   border-bottom:1px solid #ccc;
                    height: 20px;
                    margin-top: 10px;
                    line-height: 16px;
                    color:#666666;
                    font-size: 14px;
               } 
               
            }
            // 高危评估模块
            .riskAssessmentBox{
                        div {
                    display: inline-block; 
                    h3 {
                        font-size: 14px;
                        color: #666666;
                        margin: 10px 0;
                    }
                    input {
                        width: 154px;
                        height: 40px;
                        border: 1px solid #ccc;
                        border-radius: 8px; 
                        padding-left: 16px;
                    }
                    .redFont {
                        color: #fd4242;
                        display: none;
                    }
                    .layui-unselect,
                    .layui-form-select {
                        input {
                            background-color: #f6f6f6;
                        }
                    }
                }  
                  .wire {
                    width: 100%;
                    height: 2px;
                    background-color: #e8e8e8;
                    margin-top: 24px;
                } 
            .useBtn{
                width: 60px;
                height: 30px;
                background-color: #68b6e7;
                text-align: center;
                line-height: 30px;
                color:#fff;
                border-radius: 8px;
            }
            // 基本情况块
                    //  查看全部块 
            .lookAtallBtnBox{
                width: 100%;
                position: relative;
                margin-top:16px;
                h2{
                    font-size: 16px;
                    display: inline-block;
                    padding-right:14px;
                }
                .positionWire{
                    position: absolute;
                    display: inline-block;
                    top:50%;
                    right:0px;
                    width: 860px;
                    height: 1px;
                    background-color: black;;

                }
                .positionWire2{
                      position: absolute;
                    display: inline-block;
                    top:50%;
                    right:0px;
                    width: 830px;
                    height: 1px;
                    background-color: black;;
                }
                .basicLookAtallBtn,.pregnancyAllBtn{
                    padding:0px 5px;
                    position: absolute;
                    right: 28px;
                    top:0px;
                    background-color: #fff;
                    cursor: pointer;
                    i{
                        color:#68b6e7;
                    }
                    span{
                        color:#999999;
                    }
                }
            }
            .basicInformationBox{
                .partBox{
                    margin-top:26px;
                    width: 284px;
                    .partBox_top{
                        padding-bottom:10px;
                         width: 284px;
                          border-bottom:1px solid #999999;
                        i{
                            font-style:normal;
                            font-size: 19px;
                        }
                        span{
                            font-size: 14px;
                        }
                        .fen{
                            position: relative;
                             &:before {
                                content: ' ';
                                position: absolute;
                                top: 2px;
                                left: 30px;
                                width: 1px;
                                height: 16px;
                                background: #cccccc;
                            }
                        }
                    }
                    .topicBox {
                        margin-top:16px;
                        display: flex;
                        flex: 1;
                        flex-wrap: wrap;
                        >a {
                            font-size:16px;
                            color: #666666;
                            line-height: 30px;
                            padding-left: 26px;
                            background: url("/maternal-web/images/radio_false.png") no-repeat left center;
                            background-size:16px 16px;
                            &.active {
                                background: url("/maternal-web/images/radio_true.png") no-repeat left center;
                               background-size:16px 16px;
                            }
                        }
                    }
                }
            }
            // 孕期合并发症选择块
            .pregnancySelectBox{
                margin-top:20px;
                li{
                    font-size: 14px;
                    color:#666666;
                    padding:8px 15px;
                    display: inline-block;
                    border:1px solid #ccc;
                    border-radius: 8px;
                    margin-right:14px;
                    margin-bottom:14px;
                }
                li:hover{
                    cursor: pointer;
                }
                .selectAllBtn{
                    width: 64px;
                    height: 32px;
                    line-height: 32px;
                    border-radius: 50px;
                    text-align: center;
                    margin-right:14px;
                    padding:0px;
                }
            }   
            // 添加内容块
              .contentBox{
                    .lookAtallBtnBox{
                width: 100%;
                position: relative;
                margin-top:16px;
                h2{
                    font-size: 14px;
                    display: inline-block;
                    padding-right:14px;
                }
                .positionWire{
                    position: absolute;
                    display: inline-block;
                    top:50%;
                    right:0px;
                    width: 860px;
                    height: 1px;
                    background-color: black;;

                }
                .positionWire2{
                      position: absolute;
                    display: inline-block;
                    top:50%;
                    right:0px;
                    width: 830px;
                    height: 1px;
                    background-color: #cccccc;
                    }
               
                  }
                    .partBox{
                    width: 284px;
                    .topicBox {
                        margin-top:16px;
                        display: flex;
                        flex: 1;
                        flex-wrap: wrap;
                        >a {
                            font-size:16px;
                            color: #666666;
                            line-height: 30px;
                            padding-left: 26px;
                            background: url("/maternal-web/images/radio_false.png") no-repeat left center;
                            background-size:16px 16px;
                            &.active {
                                background: url("/maternal-web/images/radio_true.png") no-repeat left center;
                               background-size:16px 16px;
                            }
                        }
                    }
                }
              }
              .violetBtn{
                     padding:0px 5px;
                    position: absolute;
                    right: 28px;
                    top:0px;
                    background-color: #fff;
                    i{
                        color:#68b6e7;
                    }
                    span{
                        color:#999999;
                    }
              }
               .positionWire3{
                    position: absolute;
                    display: inline-block;
                    top:50%;
                    right:0px;
                    width: 890px;
                    height: 1px;
                    background-color: #999;;
                }
                .violetConcealBox{
                    margin-top:10px;
                       >a {
                            font-size:16px;
                            color: #666666;
                            line-height: 30px;
                            padding-left: 26px;
                            background: url("/maternal-web/images/radio_false.png") no-repeat left center;
                            background-size:16px 16px;
                            &.active {
                                background: url("/maternal-web/images/radio_true.png") no-repeat left center;
                               background-size:16px 16px;
                            }
                        }
                }

            .flaxBox{
                height: 88px;
                width: 100%;
                position: fixed;
                // background-color: #fff;
                opacity: 1;
                bottom:0px;
                left: 0;
                text-align: center;
                .flaxBoxPart{
                    width: 1200px;
                background-color: #86c5ec;
                    .totalPoints{
                    position: relative;
                    font-size: 24px;
                    color:#ffffff;
                    line-height: 88px;
                    margin-right:74px;
                      &:before {
                                content: ' ';
                                position: absolute;
                                top: 2px;
                                right: -28px;
                                width: 1px;
                                height: 30px;
                                background: #fff;
                            }
                }
                span{
                    font-size: 16px;
                    color:#fff;
                    margin-right:26px;
                        i{
                            font-style: normal;
                        }
                    }
                    .finishBtn{
                        background-color: #f3f9fd;
                        width: 160px;
                        text-align: center;
                        padding:0px;
                        border:none;
                        margin-left: 60px;
                    }
                }
                
            }
  
        }
    
                  // 检查确认模块
.checkAffirmBox{
    .checkAffirmBox_top{
        .assessmentInformation{
            p{
                font-size: 16px;
                color:#333333;
                margin-bottom:20px;
            }
            span{
                position: relative;
                margin-right:20px;
                padding-left: 16px;
            }
             .greenStrip {
            &:after {
                content: ' ';
                position: absolute;
                top: 4px;
                left: 0;
                width: 10px;
                height: 10px;
                background-color: green;
                border-radius: 50%;
            }
             &:before {
                content: ' ';
                position: absolute;
                top: 5px;
                right: -14px;
                width: 1px;
                height: 10px;
                background-color: #ccc;

            }
        }
        .yellowStrip {
            &:after {
                content: ' ';
                position: absolute;
                top: 4px;
                left: 0;
                width: 10px;
                height: 10px;
                background-color: yellow;
                border-radius: 50%;
            }
             &:before {
                content: ' ';
                position: absolute;
                top: 5px;
                right: -14px;
                width: 1px;
                height: 10px;
                background-color: #ccc;

            }
        }
        .orangeStrip {
            &:after {
                content: ' ';
                position: absolute;
                top: 4px;
                left: 0;
                width: 10px;
                height: 10px;
                background-color: orange;
                border-radius: 50%;
            }
            &:before {
                content: ' ';
                position: absolute;
                top: 5px;
                right: -14px;
                width: 1px;
                height: 10px;
                background-color: #ccc;

            }
        }
        .proponStrip {
            &:after {
                content: ' ';
                position: absolute;
                top: 4px;
                left: 0;
                width: 10px;
                height: 10px;
                background-color: purple;
                border-radius: 50%;
            }
        }
        .redStrip {
            &:after {
                content: ' ';
                position: absolute;
                top: 4px;
                left: 0;
                width: 10px;
                height: 10px;
                background-color: red;
                border-radius: 50%;
            }
             &:before {
                content: ' ';
                position: absolute;
                top: 5px;
                right: -14px;
                width: 1px;
                height: 10px;
                background-color: #ccc;
            }
        }
        }
        

    }
    .gradeInformation{
        height: 62px;
        border-left: 1px solid #ccc;
        // padding-left: 60px;
        width: 210px;
        text-align: center;
        h2{
               margin-bottom: 4px;
            .grade{
                font-size: 24px;
                color: #68b6e7;
             
            }
            i{
                font-size: 14px;
                font-style: normal;
                color:#68b6e7;
            }
        }
         p{
                color:#666666;
                font-size: 12px;
            }
        
    }
    .wire4{
        left: 0;
        width: 994px;
        height: 12px;
        background-color: #f6f6f6;
        position: absolute;
        margin-top:20px;

    }
    //  .checkAffirmBox_bottom{
    //    margin-top:46px;
    //     h2{
    //         font-size: 16px;
    //         color:#333333;
    //         margin-bottom:20px;
    //     }
    //     p{
    //         position: relative;
    //     }
    //     
    // }

      .affirmBox2 {
          margin-top:46px;
                h3 {
                    display: block;
                    color: #333333;
                }
                    span {
                        color: #666666;
                        margin-top:16px;
                        margin-bottom:40px;
                        position: relative;
                        padding-left: 18px;
                        display: inline-block;
                    }
                    div {
                        flex: 1;
                        border-bottom: 1px solid black;
                    }
                 .greenStrip {
                        &:after {
                        content: ' ';
                        position: absolute;
                        top: 3px;
                        left: 0;
                        width: 14px;
                        height: 14px;
                        background-color: green;
                        border-radius: 50%;
                            }
                        }
                        .yellowStrip {
                        &:after {
                        content: ' ';
                        position: absolute;
                        top: 3px;
                        left: 0;
                        width: 14px;
                        height: 14px;
                        background-color: yellow;
                        border-radius: 50%;
                         }
                        }
                        .orangeStrip {
                        &:after {
                        content: ' ';
                        position: absolute;
                        top: 3px;
                        left: 0;
                        width: 14px;
                        height: 14px;
                        background-color: orange;
                        border-radius: 50%;
                         }   
                        }
                        .proponStrip {
                        &:after {
                        content: ' ';
                        position: absolute;
                        top: 3px;
                        left: 0;
                        width: 14px;
                        height: 14px;
                        background-color: purple;
                        border-radius: 50%;
                         }
                        }
                        .redStrip {
                        &:after {
                        content: ' ';
                        position: absolute;
                        top: 3px;
                        left: 0;
                        width: 14px;
                        height: 14px;
                        background-color: red;
                        border-radius: 50%;
                            }
                        }
            }
        .operator{
            text-align: right;
            font-size: 14px;
            color:#333333;
            margin-top:30px;
        }
}





























        }
    }
}

footer {
    position: relative;
    width: 100%;
    height: 60px;
    .footerNews {
        position: absolute;
        bottom: 0px;
        left: 50%;
        margin-bottom: 20px;
        transform: translate(-50%);
        color: #999999;
    }
}